*{
    margin: 10px;
}
.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}
.container1{
    height:400px;
    width:800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: wheat;
    border-radius: 30px;
}
.container{
    
    height:300px;
    width:600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background:linear-gradient(to right, aqua,rgb(121, 247, 121));
}

.header{
    width: 100%;
    height:60px;
    background-color: wheat;
    margin: 0px auto;
    
}
.header h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#height{
    padding:10px;
}
#weight{
    padding: 10px;
}
.calculation .btn{
    padding:10px;
    border-radius: 10px;
    background-color:rgba(70, 144, 223, 0.722) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
